@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-violet: #181046;
  --color-orange: #e55e16;
  --color-blue: #f4f9fe;
  --color-blue-dark: #356CE5;
  --color-gray-light: #fdfdfd;
  --color-gray: #717680;
  --color-stroke: #e9eaeb;
  --color-body-light: #535862;
  --color-body-dark: #252b37;
  --color-black: #181d27;
  --color-success: #6C9E81;
  --color-mistake: #D7423A;
  --shadow-drop: 0 1px 4px 0 rgba(0, 0, 0, 0.01), 0 1px 4px 0 rgba(12, 12, 13, 0.05);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.answer-option {
    @apply flex items-baseline gap-[8px];
}
.answer-option .index {
    @apply text-body-light;
}

.answer-options ol {
    @apply flex;
}
.answer-options .row ol {
    @apply flex-row flex-wrap gap-x-[24px] lg:gap-x-[40px] gap-y-[24px] w-full;
}
.answer-options .col ol {
    @apply flex-col gap-[24px];
}

.answer-parts>div {
  @apply flex flex-col gap-4;
}
.answer-parts>div>p {
  @apply text-body-light italic;
}

.answer-relations>div {
  @apply flex flex-wrap gap-[40px] w-full;
}

.node-image {
  @apply flex-none;
}

.left-box>div {
  @apply flex flex-col gap-[24px] flex-grow;
}

.desc-editor {
  @apply flex flex-col lg:flex-row items-start gap-[24px] w-full min-h-[200px];
}

.desc-editor table {
  @apply border-collapse mb-4 text-left;
}

.desc-editor td {
  @apply border border-black py-1 px-2;
}

.desc-editor .tablecell-center p{
  @apply text-center;
}